@charset "utf-8";

body {
  margin: 0;
  background-color: #d8daca;

}

h1,
h2
 {
    margin: 0;
}

section p {
line-height: 30px;

}

header {
  background-color: #555;
  height: 64px;
  padding-left: 16px;
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  

}

header h2 {
  font-size: 8px;
  padding-top: 8px;
 
}

header h1 {
  font-size: 24px;
  
}

main {
  max-width: 599px;
  margin: 0 auto;
  background-image: url(mourihaikei.png);
  
}

.top  {
  display: flex;
}

.top1 button {
  margin-top: 8px;
  margin-left: 200px;
}

.top1 {
  width: 300px;
  height: 130px;
  background-color: #555;
  opacity: .7;
  position: relative;
  top: 250px;
  left: 10px;
  padding: 16px;
  z-index: 3;
  
}

.top img {
  margin-top: 80px;
  object-fit: cover;
  position: relative;
  top: 5px;
  left: -180px;
  z-index: 2;
}



.top1 h1 {
  font-size: 20px;
  color: white;
  width: 300px;
  opacity: ;
  
}




section h3 {
  border-bottom: 1px solid black;
  margin-top: 32px;
}

.heading {
  padding-top: 64px;
  font-size: 24px;
  color: #333;
  border-bottom: dotted  3px #F6A38B;
  margin: 0 auto;
  text-align: center;
  width: 599px;

}

.heading h2 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

.box1 {
  height: 145px;
  width: 599px;
  background-color: white;
  border-radius: 20px;
  color: #555;
  display: flex;
  margin-top: 16px;
  padding: 8px;
  margin-left: 8px;
  box-shadow: 5px 5px #555;
}

.text {
   display: block;
   margin-left: 8px;
   margin-top: ;
}

.text h3 {
  font-size: 16px;
  border-bottom: 1px solid #555;
  margin-top: 8px;
}

.box1 img {
  border-radius: 16px;
  margin-top: 24px;
  margin-right: 8px;
}

.box2 {
  height: 750px;
  width: 599px;
  background-color: #fff;
  margin-top: 32px;
  margin-left: 13px;
  margin-bottom: 32px;
  border-radius: 6px;
  
}

.box2 img {
 margin-top: 48px;
 margin-left: 96px;
 border-radius: 6px;
 
}


.box2 h3 {
  padding-top: 32px;
  max-width: 400px;
  margin: 0 auto;
  color: #555;
}







ol.sample1{
  counter-reset:list;
  list-style-type:none;
  font: 14px/1.6 'arial narrow', sans-serif;
  padding: 2em;
}
ol.sample1 li{
  position:relative;
  line-height: 30px;
  margin: 10px 0 10px 30px;
  padding: 5px 0 5px 10px;
  font-weight: bold;
  background: #fef6f3;
}
ol.sample1 li:before{
  counter-increment: list;
  content: counter(list);
  position: absolute;
  left: -40px;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: #F6A38B;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
ol.sample1 li:after{
  content:"";
  display: block;
  position: absolute;
  left: -10px;
  height: 0;
  width: 0;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 7px solid #F6A38B;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

ol.sample2{
  padding-left: 90px;
  font: 14px/1.6 'arial narrow', sans-serif;
  width:430px;
  list-style: none;

}
ol.sample2 li{
  position: relative;
  padding: 7px 5px 7px 10px;
  margin-bottom:5px;
  border-left: solid 5px #F6A38B;
  background: #f1f8ff;
  color: #555;
  font-weight: bold;
  -webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
  -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
  box-shadow:1px 1px 2px rgba(0, 0, 0, 0.1) ;
}


.contact {
  height: 400px;
  text-align: center;
}

.contact1 {
  margin-top: 64px;
}

.contact1 img {
  padding-right: 5px;
}

.contact1 a {
  margin-left: 16px;
}

footer {
  width: 100%;
  height: 200px;
  background-color: #333;
  margin-top: 80px;
}


.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #F6A38B;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}

.btn-circle-flat:hover {
  background: #cc735a;
}

footer {
  text-align: center;
  color: #FFF;
  

}

footer p {
  line-height: 10px;
  
}

.footer-taxt {
  padding-top: 36
  px;
}